nav, article, aside, footer section {
  margin: 0 auto;
  width: 900px;
}

nav {
  margin-top: 25px;
}

#logo img {
  float: left;
}

nav ul {
  float: right;
}

nav li {
  float: left;
  padding-right: 2px;
}

hr {
  clear: both;
  border: 0;
  height: 13px;
  background-image: url('../img/hr.png');
}

.date {
  float: left;
}

.print img {
  margin-right: 3px;
}

aside img {
  float: left;
}